<div class="content" role="main">
  <button (click)="linkSetup()">Connect Wallet</button>
  <br />
  <br />
  <button (click)="depositETH()">Deposit ETH</button>
  <br />
  <br />
  <label>
    Amount (ETH):
    <input type="text" id="sellAmount" />
  </label>
  <label>
    Token Id:
    <input type="text" id="tokenId" />
  </label>
  <label>
    Token Address:
    <input type="text" id="tokenAddress" />
  </label>
  <br />
  <button (click)="sellNFT()">Sell NFT</button>
</div>

<router-outlet></router-outlet>
